*{
    margin: 0px;
    padding: 0px;
    background-color: #0B0A07;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    margin: 2rem;
    text-align: center;
    color: #467256;
    font-size: x-large;
}

#divImagenes{
    display: flex;
    flex-direction: row;
}

#divImagenes img{
    width: 16.667%;
}

#cargar{
    color: #467256;
}

.botonesAcciones{
    display: flex;
    flex: row;
    justify-content: space-evenly;
}

.botonesAcciones button{
    margin: 2rem;
    padding: 1rem;
    color: #4B4E6D;
}

#divCargarPeliculas{
    text-align: center;
}

#divListarPeliculas{
    text-align: center;
}

.botonesListas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botonesListas button{
    margin: 5rem;
    padding: 1rem;
    color: #5E7D82;
}

.pLista{
    color: aliceblue;
    font-size: 1rem;
}

.styledBtn{
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.styledBtn:hover{
    background-color: whitesmoke;
    color: #467256;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form input{
    text-align: center;
    color: #467256;
    width: 100%;
    border: 0.5rem solid #0B0A07;
}

.mainForm input:hover{
    border: 0.6rem solid #0B0A07 #467256 #0B0A07 #0B0A07;
}


#form div{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #467256;
    margin: 1rem;
    text-align: center;
    font-size: 1rem;

}
.nodoLi{
    display: flex;
    flex-direction: column;
    color: #467256;
    list-style-type: none;
}

.footer{
    text-align: center;
    margin: 2rem;
    margin-top: 10rem;
    font-size: medium;
    color: #493548;
}